<a href="https://colab.research.google.com/github/raushan9jnv/Pratice-Coursera/blob/main/Pratice_Coursera_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Coursera/NISPUF17.csv")

In [ ]:
df.head()

   Unnamed: 0  SEQNUMC  SEQNUMHH  ...  XVRCTY9  INS_STAT2_I  INS_BREAK_I
0           1   128521     12852  ...      NaN          NaN          NaN
1           2    10741      1074  ...      NaN          NaN          NaN
2           3   220011     22001  ...      NaN          NaN          NaN
3           4    86131      8613  ...      NaN          1.0          2.0
4           5   227141     22714  ...      NaN          2.0          1.0

[5 rows x 454 columns]

In [ ]:
df.columns

Index(['Unnamed: 0', 'SEQNUMC', 'SEQNUMHH', 'PDAT', 'PROVWT_D', 'RDDWT_D',
       'STRATUM', 'YEAR', 'AGECPOXR', 'HAD_CPOX',
       ...
       'XVRCTY2', 'XVRCTY3', 'XVRCTY4', 'XVRCTY5', 'XVRCTY6', 'XVRCTY7',
       'XVRCTY8', 'XVRCTY9', 'INS_STAT2_I', 'INS_BREAK_I'],
      dtype='object', length=454)